label
{
    font-size: medium;
    color: rgb(59, 59, 243);
    margin-left: 14px;
    margin-right: 14px;
    /* text-align: center;
    display: flex;
    justify-content: center;
    align-items: center; */
}

body 
{
	font-family: arial;
	color: rgb(70, 82, 255);
}

h1
{
	text-align: center;
}


.errorVisible{
    visibility: visible;
    color: red;
    font-size: 12px;
    font-style: normal;
}

.errorInvisible{
    visibility: hidden;
}
